# Environnements virtuels locaux
python_env_voice_assistant/
python3_10env/
python_env2/

# Python
__pycache__/

# Variables d'environnement
.env

# Large model files (>100MB)
src/audio/tts/best_model.pth
src/audio/tts/reference.wav
